<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text = "${subject}"/>
    <link th:href = "@{/style.css}" rel = "stylesheet" />
</head>
<body>
    <div class = "header"> <h1 th:text = "${subject}" /> </div>


<ul>
    <li> <a href = "class?class= Class 1"> Class 1 </a> </li>
    <li> <a href = "class?class= Class 1"> Class 2 </a> </li>
    <li> <a href = "class?class= Class 1"> Class 3 </a> </li>
    <li> <a href = "class?class= Class 1"> Class 4 </a> </li>
    <li> <a href = "class?class= Class 1"> Class 5 </a> </li>
</ul>
</body>
