<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text = "${subject}"/>
    <link th:href = "@{/style.css}" rel = "stylesheet" />
</head>
<body>
    <div class = "header">
        <h1 th:text = "${subject}" />
    </div>


    <ul
        th:each = "class : ${classList}">
        <li> <a th:href = "@{/class/{classId}(classId=${class.getClassID()})}"th:text = "${class.getClassName()}"></a> </li>
<!--        (classId=class.getClassID())}-->

</ul>

</body>
